* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section.signup {
  height: 50vw;
  width: 100%;
  background: green;
  display: flex;
  padding: 2vw 0;
  justify-content: space-around;
  align-items: center;
}

body section.signup div.desktop_text {
  line-height: 1.6;
  letter-spacing: 0.07vw;
  font-family: Arial, Helvetica, sans-serif;
}

body section.signup div.desktop_text > span {
  font-size: 4vw;
  color: white;
  padding: 1vw 0;
}

body section.signup div.desktop_text > p {
  font-size: 2vw;
  color: white;
  padding: 1vw 0;
}

body section.signup div.desktop_text > button {
  font-size: 1vw;
  color: green;
  padding: 1vw 0;
}

body section.signup div.desktop_text button {
  padding: 1vw 2vw;
  border: none;
}

body section.signup div.desktop_text button:hover {
  cursor: pointer;
  background: #cccccc;
}

body section.percent {
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body section.percent div {
  margin: 0 2vw;
}

body section.percent div.percent_text {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1vw;
}

body section.percent div.percent_text h3, body section.percent div.percent_text p {
  margin: 2vw 0;
}

body section.percent div.percent_text h3 {
  font-size: 3vw;
}

body section.percent div.percent_text p {
  font-size: 1.5vw;
}

body section.percent div.percent_text button {
  padding: 1vw 2vw;
  background: green;
  color: white;
  border: none;
  font-weight: 700;
  border: none;
  border-radius: 0.5vw;
}

body section.percent div.percent_text button:hover {
  cursor: pointer;
  background: #00b300;
}

body section.brain {
  height: 55vw;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

body section.brain h1 {
  font-size: 4vw;
}

body section.brain div.brain_text {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

body section.brain div.brain_text div {
  width: 25vw;
  font-size: 2.3vw;
  letter-spacing: 0.1vw;
  text-align: center;
  line-height: 1.6;
  color: #737373;
}

body section.wave {
  text-align: center;
}

body section.wave div.wave_img {
  margin: 5vw;
  margin-top: 10vw;
}

body section.wave div.wave_text {
  text-align: center;
  line-height: 2.5;
  letter-spacing: 0.1vw;
  font-family: Arial, Helvetica, sans-serif;
}

body section.wave div.wave_text h1 {
  font-size: 3vw;
}

body section.wave div.wave_text p {
  font-size: 1.8vw;
}

body section.wave div.kopf {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 5vw auto;
  line-height: 1.6;
  letter-spacing: 0.05vw;
}

body section.wave div.kopf div.kopf_text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

body section.wave div.kopf div.kopf_text h3 {
  font-size: 3vw;
  font-weight: 200;
  color: #00b300;
}

body section.wave div.kopf div.kopf_text p {
  font-size: 1.8vw;
  font-weight: 200;
  color: #262626;
}

body section.wave div.kopf div.kopf_text a {
  font-size: 1.2vw;
  color: #008f00;
  font-weight: 700;
  text-decoration: none;
}

body section.wave div.kopf div.kopf_img {
  width: 40vw;
}

body section.wave div.premium {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 10vw auto;
  line-height: 1.6;
  letter-spacing: 0.05vw;
  margin-bottom: 15vw;
}

body section.wave div.premium div.premium_text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

body section.wave div.premium div.premium_text h3 {
  font-size: 3vw;
  font-weight: 200;
  color: #00b300;
}

body section.wave div.premium div.premium_text p {
  font-size: 1.8vw;
  font-weight: 200;
  color: #262626;
}

body section.wave div.premium div.premium_text a {
  font-size: 1.2vw;
  color: #008f00;
  font-weight: 700;
  text-decoration: none;
}

body section.wave div.premium div.premium_img {
  width: 40vw;
}

body section.wave div.business {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 10vw auto;
  line-height: 1.6;
  letter-spacing: 0.05vw;
}

body section.wave div.business div.business_text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

body section.wave div.business div.business_text h3 {
  font-size: 3vw;
  font-weight: 200;
  color: #00b300;
}

body section.wave div.business div.business_text p {
  font-size: 1.8vw;
  font-weight: 200;
  color: #262626;
}

body section.wave div.business div.business_text a {
  font-size: 1.2vw;
  color: #008f00;
  font-weight: 700;
  text-decoration: none;
}

body section.wave div.business div.business_img {
  width: 40vw;
}

body section.wave div.compare {
  text-align: center;
  margin: 5vw 0;
}

body section.wave div.compare button {
  font-family: Arial, Helvetica, sans-serif;
  background: #009a00;
  color: white;
  font-size: 1.1vw;
  border-radius: 0.5vw;
  padding: 1.4vw;
  font-weight: 700;
  border: none;
}

body div.heart {
  text-align: center;
  margin: 5vw;
  margin-top: 20vw;
}

body section.animation {
  height: 40vw;
}

body section.animation div.animation_img {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body section.animation div.animation_img button {
  border: none;
  opacity: 0.4;
  background: white;
}

body section.animation div.animation_img button:hover {
  opacity: 1;
  cursor: pointer;
}

body section.animation div.animation_text {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8vw;
  font-weight: 200;
  line-height: 1.8;
  letter-spacing: 0.1vw;
}

body section.animation div.animation_text p {
  margin: 5vw;
}
