body nav {
  margin-top: -1vw;
  padding-bottom: 2vw;
  margin-right: 2vw;
  background: white;
  position: fixed;
  width: 100%;
  height: 8vw;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 600px) {
  body nav {
    flex-direction: column;
  }
}

body nav div {
  padding-top: 3vw;
  text-align: center;
  list-style: none;
  margin-left: 4vw;
}

body nav div button {
  font-size: 1vw;
  width: auto;
}

body nav div:first-of-type button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1.5Vw;
}

body nav div:first-of-type button i {
  font-size: 2vw;
  margin-right: 1vw;
}

body nav div:first-of-type button:hover {
  color: #00a82d;
}

body nav div .normalbtn {
  margin-top: 0.8vw;
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: bold;
}

body nav div .normalbtn:hover {
  color: #00a82d;
}

body nav div .normalbtn i {
  margin-left: 8px;
  font-size: 12px;
}

body nav div:last-of-type {
  flex-grow: 0.8;
  padding-top: 2.5vw;
}

body nav div:last-of-type span {
  font-size: 1vw;
}

body nav div:last-of-type button {
  margin-left: 1vw;
  padding: 5px 30px;
  background: transparent;
  color: #00a82d;
  cursor: pointer;
  border: 2px solid #00a82d;
  border-radius: 3px;
}

body nav div:last-of-type button:hover {
  color: rgba(0, 168, 54, 0.5);
  border-color: rgba(0, 168, 54, 0.5);
}

body nav div:last-of-type button:first-of-type {
  border: none;
}

body nav .dropdown1:hover .dropdown-content1 {
  display: block;
}

body nav .dropdown-content1 {
  position: absolute;
  left: -1vw;
  height: auto;
  width: 11vw;
  background: white;
  display: none;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

body nav .dropdown-content1 a {
  margin-top: 5px;
  text-decoration: none;
  height: 2vw;
  color: #00a82d;
  padding: 10px 20px;
  display: block;
  text-align: left;
  border-radius: 3px;
}

body nav .dropdown-content1 a:hover {
  background-color: #00a82d;
  color: white;
}

body nav .dropdown2:hover .dropdown-content2 {
  display: block;
}

body nav section.signup {
  height: 50vw;
  width: 100%;
  background: green;
  display: flex;
  padding: 2vw 0;
  justify-content: space-around;
  align-items: center;
}

body nav section.signup div.desktop_text {
  line-height: 1.6;
  letter-spacing: 0.07vw;
  font-family: Arial, Helvetica, sans-serif;
}

body nav section.signup div.desktop_text > span {
  font-size: 4vw;
  color: white;
  padding: 1vw 0;
}

body nav section.signup div.desktop_text > p {
  font-size: 2vw;
  color: white;
  padding: 1vw 0;
}

body nav section.signup div.desktop_text > button {
  font-size: 1vw;
  color: green;
  padding: 1vw 0;
}

body nav section.signup div.desktop_text button {
  padding: 1vw 2vw;
  border: none;
}

body nav section.signup div.desktop_text button:hover {
  cursor: pointer;
  background: #cccccc;
}

body nav section.percent {
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body nav section.percent div {
  margin: 0 2vw;
}

body nav section.percent div.percent_text {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1vw;
}

body nav section.percent div.percent_text h3, body nav section.percent div.percent_text p {
  margin: 2vw 0;
}

body nav section.percent div.percent_text h3 {
  font-size: 3vw;
}

body nav section.percent div.percent_text p {
  font-size: 1.5vw;
}

body nav section.percent div.percent_text button {
  padding: 1vw 2vw;
  background: green;
  color: white;
  border: none;
  font-weight: 700;
  border: none;
  border-radius: 0.5vw;
}

body nav section.percent div.percent_text button:hover {
  cursor: pointer;
  background: #00b300;
}

body nav section.brain {
  height: 55vw;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

body nav section.brain h1 {
  font-size: 4vw;
}

body nav section.brain div.brain_text {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

body nav section.brain div.brain_text div {
  width: 25vw;
  font-size: 2.3vw;
  letter-spacing: 0.1vw;
  text-align: center;
  line-height: 1.6;
  color: #737373;
}

body nav section.wave {
  text-align: center;
}

body nav section.wave div.wave_img {
  margin: 5vw;
  margin-top: 10vw;
}

body nav section.wave div.wave_text {
  text-align: center;
  line-height: 2.5;
  letter-spacing: 0.1vw;
  font-family: Arial, Helvetica, sans-serif;
}

body nav section.wave div.wave_text h1 {
  font-size: 3vw;
}

body nav section.wave div.wave_text p {
  font-size: 1.8vw;
}

body nav section.wave div.kopf {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 5vw auto;
  line-height: 1.6;
  letter-spacing: 0.05vw;
}

body nav section.wave div.kopf div.kopf_text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

body nav section.wave div.kopf div.kopf_text h3 {
  font-size: 3vw;
  font-weight: 200;
  color: #00b300;
}

body nav section.wave div.kopf div.kopf_text p {
  font-size: 1.8vw;
  font-weight: 200;
  color: #262626;
}

body nav section.wave div.kopf div.kopf_text a {
  font-size: 1.2vw;
  color: #008f00;
  font-weight: 700;
  text-decoration: none;
}

body nav section.wave div.kopf div.kopf_img {
  width: 40vw;
}

body nav section.wave div.premium {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 10vw auto;
  line-height: 1.6;
  letter-spacing: 0.05vw;
  margin-bottom: 15vw;
}

body nav section.wave div.premium div.premium_text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

body nav section.wave div.premium div.premium_text h3 {
  font-size: 3vw;
  font-weight: 200;
  color: #00b300;
}

body nav section.wave div.premium div.premium_text p {
  font-size: 1.8vw;
  font-weight: 200;
  color: #262626;
}

body nav section.wave div.premium div.premium_text a {
  font-size: 1.2vw;
  color: #008f00;
  font-weight: 700;
  text-decoration: none;
}

body nav section.wave div.premium div.premium_img {
  width: 40vw;
}

body nav section.wave div.business {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 10vw auto;
  line-height: 1.6;
  letter-spacing: 0.05vw;
}

body nav section.wave div.business div.business_text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

body nav section.wave div.business div.business_text h3 {
  font-size: 3vw;
  font-weight: 200;
  color: #00b300;
}

body nav section.wave div.business div.business_text p {
  font-size: 1.8vw;
  font-weight: 200;
  color: #262626;
}

body nav section.wave div.business div.business_text a {
  font-size: 1.2vw;
  color: #008f00;
  font-weight: 700;
  text-decoration: none;
}

body nav section.wave div.business div.business_img {
  width: 40vw;
}

body nav section.wave div.compare {
  text-align: center;
  margin: 5vw 0;
}

body nav section.wave div.compare button {
  font-family: Arial, Helvetica, sans-serif;
  background: #009a00;
  color: white;
  font-size: 1.1vw;
  border-radius: 0.5vw;
  padding: 1.4vw;
  font-weight: 700;
  border: none;
}

body nav section.wave div.compare button:hover {
  cursor: pointer;
  background: #00cd00;
}

body nav div.heart {
  text-align: center;
  margin: 5vw;
  margin-top: 20vw;
}

@keyframes one {
  -5% {
    opacity: 1;
  }
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  22% {
    opacity: 0.4;
  }
  28% {
    opacity: 0.4;
  }
  33% {
    opacity: 0.4;
  }
  38% {
    opacity: 0.4;
  }
  43% {
    opacity: 0.4;
  }
  48% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.4;
  }
  71% {
    opacity: 0.4;
  }
  78% {
    opacity: 0.4;
  }
  83% {
    opacity: 0.4;
  }
  89% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes two {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.4;
  }
  11% {
    opacity: 0.4;
  }
  16% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33% {
    opacity: 0.4;
  }
  38% {
    opacity: 0.4;
  }
  43% {
    opacity: 0.4;
  }
  48% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.4;
  }
  71% {
    opacity: 0.4;
  }
  78% {
    opacity: 0.4;
  }
  83% {
    opacity: 0.4;
  }
  89% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes three {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.4;
  }
  11% {
    opacity: 0.4;
  }
  16% {
    opacity: 0.4;
  }
  22% {
    opacity: 0.4;
  }
  28% {
    opacity: 0.4;
  }
  33% {
    opacity: 1;
  }
  38% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  55% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.4;
  }
  71% {
    opacity: 0.4;
  }
  78% {
    opacity: 0.4;
  }
  83% {
    opacity: 0.4;
  }
  89% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes four {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.4;
  }
  11% {
    opacity: 0.4;
  }
  16% {
    opacity: 0.4;
  }
  22% {
    opacity: 0.4;
  }
  28% {
    opacity: 0.4;
  }
  33% {
    opacity: 0.4;
  }
  38% {
    opacity: 0.4;
  }
  43% {
    opacity: 0.4;
  }
  48% {
    opacity: 0.4;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  71% {
    opacity: 0.4;
  }
  78% {
    opacity: 0.4;
  }
  83% {
    opacity: 0.4;
  }
  89% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes five {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.4;
  }
  11% {
    opacity: 0.4;
  }
  16% {
    opacity: 0.4;
  }
  22% {
    opacity: 0.4;
  }
  28% {
    opacity: 0.4;
  }
  33% {
    opacity: 0.4;
  }
  38% {
    opacity: 0.4;
  }
  43% {
    opacity: 0.4;
  }
  48% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.4;
  }
  71% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  83% {
    opacity: 1;
  }
  89% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes six {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.4;
  }
  11% {
    opacity: 0.4;
  }
  16% {
    opacity: 0.4;
  }
  22% {
    opacity: 0.4;
  }
  28% {
    opacity: 0.4;
  }
  33% {
    opacity: 0.4;
  }
  38% {
    opacity: 0.4;
  }
  43% {
    opacity: 0.4;
  }
  48% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.4;
  }
  71% {
    opacity: 0.4;
  }
  78% {
    opacity: 0.4;
  }
  83% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes click {
  0% {
    opacity: 1;
    display: block;
  }
  5% {
    opacity: 1;
    display: block;
  }
  11% {
    opacity: 1;
    display: block;
  }
  16% {
    opacity: 1;
    display: block;
  }
  22% {
    opacity: 0.4;
    display: block;
  }
  28% {
    opacity: 0.4;
    display: block;
  }
  33% {
    opacity: 0.4;
    display: block;
  }
  38% {
    opacity: 0.4;
    display: block;
  }
  43% {
    opacity: 0.4;
    display: block;
  }
  48% {
    opacity: 0.4;
    display: block;
  }
  55% {
    opacity: 0.4;
    display: block;
  }
  60% {
    opacity: 0.4;
    display: block;
  }
  65% {
    opacity: 0.4;
    display: block;
  }
  71% {
    opacity: 0.4;
    display: block;
  }
  78% {
    opacity: 0.4;
    display: block;
  }
  83% {
    opacity: 0.4;
    display: block;
  }
  89% {
    opacity: 0.4;
    display: block;
  }
  95% {
    opacity: 0.4;
    display: block;
  }
  100% {
    opacity: 0.4;
    display: block;
  }
}

body nav section.animation {
  position: relative;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template: repeat(15, auto)/6vw 4vw 10vw 9vw 5vw 6.5vw 7vw 10vw 4vw 6vw;
  grid-gap: 0 2.5vw;
  grid-template-areas: 'business business verge webby forbes forbes cloud manuel manuel manuel' 'business business verge webby forbes forbes cloud manuel manuel manuel' 'empty1 text1 text1 text1 text1 text1 text1 text1 text1 empty2' 'empty1 text1 text1 text1 text1 text1 text1 text1 text1 empty2' 'empty1 text2 text2 text2 text2 text2 text2 text2 text2 empty2' 'empty1 text2 text2 text2 text2 text2 text2 text2 text2 empty2' 'empty1 text3 text3 text3 text3 text3 text3 text3 text3 empty2' 'empty1 text3 text3 text3 text3 text3 text3 text3 text3 empty2' 'empty1 text4 text4 text4 text4 text4 text4 text4 text4 empty2' 'empty1 text4 text4 text4 text4 text4 text4 text4 text4 empty2' 'empty1 text4 text4 text4 text4 text4 text4 text4 text4 empty2' 'empty1 text5 text5 text5 text5 text5 text5 text5 text5 empty2' 'empty1 text5 text5 text5 text5 text5 text5 text5 text5 empty2' 'empty1 text6 text6 text6 text6 text6 text6 text6 text6 empty2' 'empty1 text6 text6 text6 text6 text6 text6 text6 text6 empty2';
}

body nav section.animation button.animation_img1 {
  grid-area: business;
}

body nav section.animation button.animation_img2 {
  grid-area: verge;
}

body nav section.animation button.animation_img3 {
  grid-area: webby;
}

body nav section.animation button.animation_img4 {
  grid-area: forbes;
}

body nav section.animation button.animation_img5 {
  grid-area: cloud;
}

body nav section.animation button.animation_img6 {
  grid-area: manuel;
}

body nav section.animation p.text1 {
  grid-area: text1;
}

body nav section.animation p.text2 {
  grid-area: text2;
}

body nav section.animation p.text3 {
  grid-area: text3;
}

body nav section.animation p.text4 {
  grid-area: text4;
}

body nav section.animation p.text5 {
  grid-area: text5;
}

body nav section.animation p.text6 {
  grid-area: text6;
}

body nav section.animation div.empty1 {
  grid-area: empty1;
}

body nav section.animation div.empty2 {
  grid-area: empty2;
}

body nav section.animation button:nth-of-type(1) {
  animation: one 10s linear infinite;
}

body nav section.animation button:nth-of-type(2) {
  animation: two 10s linear infinite;
}

body nav section.animation button:nth-of-type(3) {
  animation: three 10s linear infinite;
}

body nav section.animation button:nth-of-type(4) {
  animation: four 10s linear infinite;
}

body nav section.animation button:nth-of-type(5) {
  animation: five 10s linear infinite;
}

body nav section.animation button:nth-of-type(6) {
  animation: six 10s linear infinite;
}

body nav section.animation p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8vw;
  font-weight: 200;
  line-height: 1.8;
  letter-spacing: 0.1vw;
  display: none;
  position: relative;
  top: 5vw;
  left: 0;
}

body nav section.animation button {
  border: none;
  opacity: 0.4;
  background: white;
}

body nav section.animation button:hover {
  opacity: 1;
  cursor: pointer;
}

body nav section.animation button:nth-of-type(1):focus ~ p:nth-of-type(1) {
  display: block;
}

body nav section.animation button:nth-of-type(2):focus ~ p:nth-of-type(2) {
  display: block;
}

body nav section.animation button:nth-of-type(3):focus ~ p:nth-of-type(3) {
  display: block;
}

body nav section.animation button:nth-of-type(4):focus ~ p:nth-of-type(4) {
  display: block;
}

body nav section.animation button:nth-of-type(5):focus ~ p:nth-of-type(5) {
  display: block;
}

body nav section.animation button:nth-of-type(6):focus ~ p:nth-of-type(6) {
  display: block;
}

body nav div.example {
  margin: 20vw;
  background: lime;
}
footer > hr {
  color: green;
  width: 90%;
}

.div_footer_part1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background: white;
}

.div_footer_part1 h2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: green;
  margin: 1.5vw;
  font-size: 2.5vw;
  font-family: arial;
  font-weight: lighter;
}
.div_footer_part1 h2 img {
  width: 5vw;
  height: 5vw;
}
.div_footer_part1 hr {
  color: green;
  width: 90%;
}
.div_footer_part1 ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.div_footer_part1 ul h6 {
  margin-left: 1vw;
  margin-bottom: 2vw;
}
.div_footer_part1 ul button {
  background-color: white;
  border-color: green;
  color: green;
  margin: 2vw 4vw;
  width: 8vw;
  height: 4vw;
  text-align: center;
}
.div_footer_part1 ul button:hover {
  background-color: green;
  color: white;
  border: 1px solid green;
  cursor: pointer;
}
.div_footer_part1 ul li {
  list-style-type: none;
  margin-left: 1vw;
  margin-bottom: 2vw;
  font-family: arial;
  font-weight: lighter;
}
.div_footer_part1 ul li:hover {
  color: green;
  cursor: pointer;
}

.div_footer_part2 {
  display: flex;
  justify-content: flex-end;
}
.div_footer_part2 select {
  width: 10vw;
  padding: 1vw;
  margin-left: 1vw;
  margin-right: 50vw;
  border-color: green;
}

body i {
  margin: 1vw auto;
}

body .footnote {
  display: flex;
  justify-content: flex-end;
}
body .footnote hr {
  width: 80%;
  color: green;
}

body .footnote span {
  flex-grow: 1;
}

body .footnote li {
  color: silver;
  margin: 2.5vw;
  list-style-type: none;
}

body .footnote li a {
  text-decoration: none;
  color: silver;
}

body .footnote li a:hover {
  color: green;
}

@media screen and (max-width: 600px) {
  .div_footer_part1, .div_footer_part2, .footnote {
    display: block;
    background-color: black;
    color: white;
    float: left;
    width: 100%;
  }
  .div_footer_part1 hr, .div_footer_part2 hr, .footnote hr {
    width: 90%;
    color: green;
  }
  .div_footer_part1 > ul > button {
    width: 50%;
    height: 8vw;
    font-size: 1.5vw;
  }
  .div_footer_part1 > h2 {
    color: green;
    font-size: 6vw;
    text-shadow: 0.3vw 0.3vw white;
  }
}
