<<<<<<< HEAD
.div_footer_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background: white;
  h2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: green;
    margin: 1.5vw;
    font: {
      size: 2.5vw;
      family: arial;
      weight: lighter;
        }
    img {
      width: 5vw;
      height: 5vw;
        }
      }
  hr {
    color: green;
    width: 90%;
      }
  ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      h6 {
        margin-left: 1vw;
        margin-bottom: 2vw;
              }
      button {
        background-color: white;
        border-color: green;
        color: green;
        margin: 2vw 4vw;
        width: 8vw;
        height: 4vw;
        text-align: center;
        &:hover {
          background-color: green;
          color: white;
          border: 1px solid green;
        }
      }
      li {
        list-style-type: none;
        margin-left: 1vw;
        margin-bottom: 2vw;
        font: {
        family: arial;
        weight: lighter;
          }
        }
      }
    }
    .div_footer_bottom {
      display: flex;
      justify-content: flex-end;
      select {
        width: 10vw;
        padding: 1vw;
        margin-left: 1vw;
        margin-right: 50vw;
        border-color: green;
      }
    }
      i {
        margin: 1vw auto;
      }
    .footnote {
      display: flex;
      justify-content: flex-end;
        hr {
          width: 80%;
          color: green;
        }
          span {
            flex-grow: 1;
          }
          li {
            color: silver;
            margin: 2.5vw;
            list-style-type: none;
            a {
            text-decoration: none;
            color: silver;
            &:hover {
              color: green;
            }
          }
        }
      }

      @media screen and (max-width: 600px) {
          .div_footer_top, .div_footer_bottom, .footnote {
              display: block;
              background-color:  black;
              color: white;
              float: left;
              width: 100%;
              }
            .div_footer_top  > ul > button {
                width: 50%;
                height: 8vw;
                font-size: 1.5vw;
            }
            .div_footer_top > h2 {
              color: green;
              font-size: 6vw;
              text-shadow: 0.3vw 0.3vw white;
          }
      }
=======
nav {
    position: fixed;
    margin-left: 12vw;
    margin-right:10vw;
    height: 8vw;
    display: flex;
    @media screen and (max-width:500px) {
        flex-direction: column;
        }
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    div {
        padding-top: 3vw;
        text-align: center;
        list-style: none;
        margin-left: 1vw;
        button{
            font-size: 1vw;
            width: auto;
            }
        &:first-of-type{
            padding-top: 2.4vw;
                button {
                    cursor: pointer;
                    border: none;
                    background: transparent;
                    font-weight: bold;
                    font-size: 1.5Vw; 
                    i{
                         font-size: 2vw;
                        margin-right: 1vw;
               }
               &:hover {
                color:rgb(0, 168,45);
                  }
        } 
    }
        .normalbtn{
        &:hover {
       color:rgb(0, 168,45);
         }
        cursor: pointer;
        border:none;
        background:transparent;   
        font-weight: bold;
        i{margin-left:8px;
            font-size: 12px;}

    }
      &:last-of-type{
        flex-grow: 0.8;
        padding-top: 2.5vw;
        span{font-size:1vw;}
        button{
        margin-left: 1vw;
        padding: 5px 30px;
        background:transparent;
        color:rgb(0, 168,45);
        cursor: pointer;
        border: 2px solid #00a82d;
        border-radius: 3px;
        &:hover {
        color:rgba(0, 168,54, 0.5);
        border-color:rgba(0, 168,54, 0.5);
        }   
        &:first-of-type{
        border: none;
        
        }
    }
}
}
.dropdown1 {
    &:hover .dropdown-content1 {
        display: block;
    }

}

.dropdown-content1 {
    height: auto;
    width: 11vw;
    background: white;
    display: none;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
    a {
        margin-top: 5px;
        text-decoration: none;
        height: 2vw;
        width: 11vw;
        color:rgb(0, 168,45);
        padding: 10px 20px;
        display: block;
        text-align: left;
        border-radius: 3px;
        &:hover {
            background-color:rgb(0, 168,45);
            color: white;
        }
    }
}


.dropdown2 {
    &:hover .dropdown-content2 {
        display: block;
    }

}

.dropdown-content2 {
    height: auto;
    width: 11vw;
    background: white;
    display: none;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
    a {
        margin-top: 5px;
        text-decoration: none;
        height: 2vw;
        width: 11vw;
        color:rgb(0, 168,45);
        padding: 10px 20px;
        display: block;
        text-align: left;
        border-radius: 3px;
        &:hover {
            background-color:rgb(0, 168,45);
            color: white;
        }
    }
}

}
>>>>>>> origin/header
