
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  section.signup {
    height: 50vw;
    width: 100%;
    background: green;
    display: flex;
    padding: 2vw 0;
    justify-content: space-around;
    align-items: center;


      div.desktop_text {
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        @each $element, $font, $color in (span, 4vw, white), (p , 2vw, white),
                (button, 1vw, green) {
                  > #{$element} {
                    font-size: $font;
                    color: $color;
                    padding: 1vw 0;
                  }
                }

                button {
                  padding: 1vw 2vw;
                }
      }
    }


    section.percent {
      height: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        margin: 0 2vw;
      }

      div.percent_text {
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 1.6;

        h3, p {
          margin: 2vw 0;
        }

        h3 {
          font-size: 3vw;
        }

        p {
          font-size: 1.5vw;
        }

        button {
          padding: 1vw 2vw;
          background: green;
          color: white;
          border: none;
          font-weight: 700;
          border-radius: 0.5vw;
        }


      }


    }



}



















// footer {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   background: white;
//   font {
//     size: 2.5vw;
//     familiy: monospace;
//     list-style-type: none;
//   }
//   li { width: 20vw;
//
//   }
// }
