
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  section.signup {
    width: 100%;
    background: green;
    padding: 5vw 0;
    display: flex;
    justify-content: space-around;
    align-items: center;


      div.desktop_text {
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        @each $element, $font, $color in (span, 7vw, white), (p , 2.5vw, white),
                (button, 2.5vw, green) {
                  > #{$element} {
                    font-size: $font;
                    color: $color;
                    margin: 2vw 0;
                    padding: 2vw;
                  }
                }
      }
    }


    section.percent {
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;


    }



}



















// footer {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   background: white;
//   font {
//     size: 2.5vw;
//     familiy: monospace;
//     list-style-type: none;
//   }
//   li { width: 20vw;
//
//   }
// }
