* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section.signup {
  width: 100%;
  background: green;
  padding: 5vw 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body section.signup div.desktop_text {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}

body section.signup div.desktop_text > span {
  font-size: 7vw;
  color: white;
  margin: 2vw 0;
  padding: 2vw;
}

body section.signup div.desktop_text > p {
  font-size: 2.5vw;
  color: white;
  margin: 2vw 0;
  padding: 2vw;
}

body section.signup div.desktop_text > button {
  font-size: 2.5vw;
  color: green;
  margin: 2vw 0;
  padding: 2vw;
}
